<nav>
  <ul>
    <li>{{#link-to 'create'}}Exercise A{{/link-to}}</li>
    <li>{{#link-to 'blog'}}Exercise B{{/link-to}}</li>
    <li>{{#link-to 'bookmarks'}}Exercise C{{/link-to}}</li>
    <li>{{#link-to 'cms'}}Exercise D{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
