<ul>
  <li>{{#link-to 'cms.create'}}+ New{{/link-to}}</li>
  {{#each model as |post|}}
    <li>
      {{#link-to 'cms.show' post._id}}
        {{post.title}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{outlet}}