<ul>
  <li>{{#link-to 'cms.create'}}+ New{{/link-to}}</li>
  {{#each model as |post|}}
    {{#unless post.isNew}}
      <li>
        {{#link-to 'cms.show' post}}
          {{post.title}}
        {{/link-to}}
      </li>
      {{/unless}}
  {{/each}}
</ul>

{{outlet}}